<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Match</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="form-container">

    <div class="form-card">

        <h1>Create Match</h1>

        <form method="POST">

            <input type="text"
            name="team1"
            placeholder="Team 1"
            required>

            <input type="text"
            name="team2"
            placeholder="Team 2"
            required>

            <input type="text"
            name="bracket"
            placeholder="Bracket Round"
            required>

            <input type="datetime-local"
            name="match_date"
            required>

            <button type="submit" class="main-btn">
                Create Match
            </button>

        </form>

    </div>

</div>

</body>
</html>